@model U7L4.Models.RedditSimpleResponse

@{
    for (int i = 0; i < @Model.data.children.Count(); i++)
    {
        <div class="row">
            <p>@Model.data.children[i].data.title</p>
        @foreach (var currLink in @Model.data.children[i].data.link_flair_richtext)
        {
            <p style="padding-left: 75px">@Model.data.children[i].data.link_flair_richtext[i].a</p>
            <p style="padding-left: 75px">@Model.data.children[i].data.link_flair_richtext[i].e</p>
            <img  style="width: 300px; height: 150px; padding-left: 75px" src="@Model.data.children[i].data.link_flair_richtext[i].u"/>
        }
        </div>
    }
}
